boto3>=1.34.0
botocore>=1.34.0
python-dotenv
psycopg2-binary
aws-sdk-bedrock-runtime==0.0.2
smithy-aws-core==0.0.3
smithy-core==0.0.3
smithy-http==0.0.3
langchain-community>=0.0.18
langchain-core>=0.0.18
langchain-aws>=0.1.0
