python-socketio[asyncio_client]
websockets
psycopg[binary,pool]
psycopg2-binary
python-dotenv

boto3>=1.34.0
botocore>=1.34.0

smithy-aws-core==0.0.3
aws_sdk_bedrock_runtime==0.0.2

langchain-community>=0.0.18
langchain-core>=0.0.18
langchain-aws>=0.1.0
pgvector>=0.2.0
requests>=2.25.0